body {
    display:flex;
    background-color:black;
    height:700px;
}
#container {
    border :10px solid darkseagreen;
    max-width: 50%;
    width: 100%;
    
    
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}
#part1{
    color: darkseagreen;
    position: absolute;
    bottom: 70%;
    font-size: 80px;
    text-decoration: wavy;
}
#part2{
    color: darkseagreen;
    position: absolute;
    bottom: 50%;
    font-size: 25px;
}
#part3{
    color: darkseagreen;
    position: absolute;
    bottom: 35% ;
    font-size: 60px;
}
a:link {
    color: darkseagreen;
}
a:visited {
    color: darkseagreen;
}
a:hover {
    color: lightgreen;
}